extends ../shared/template

block content
  h1 artists-list
  button.button.button-rounded.button-royal: a(href='artists/new') create a new artists
  each artist in artists
    h1= artist.name
    img(src='/img/#{artist.name}/#{artist.art}')
