extends ../shared/template

block content
  h1 album-list
  button.button.button-rounded.button-royal: a(href='albums/new') create a new album
  each album in albums
    h1= album.name
    img(src='/img/#{album.name}/#{album.art}')
