extends ../shared/template

block content
  h1 new album
  #newAlbum
    form(method='POST', action='/albums', enctype='multipart/form-data')
      input(type='text', name='name', placeholder='album name', autofocus=true)
      input(type='file', name='art', placeholder='upload cover art')
      button add album
